.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

span {
  display: inline-block;
}

img {
  padding: 10px;
  width: 100%;
}

